html {
  size: 10px;
  height: 100%;
}

body{
  height: 100%;
}

.logo{
	font-size: 1.5rem;
	margin-bottom: 1px;
	padding-bottom: 9px;
	height: 50px;
  width: 250px;
  margin-left: 110px;
}

.navbar-toggler{

}

.logo2{
	height: 50px;
  width: 100px;
}

.fondoform{
	background-image: url("../img/backgroundform.jpg");
	height: 100%;
	width: 100%;
	background-size: contain;
}

.imagenblanco{
  background-color: #FFFFFF;
  height: 2rem;
  width: 100%;
  background-size: contain;
}

.imagen1{
	background-image: url("../img/background1.svg");
	height: 34.75rem;
	width: 100%;
	background-size: contain;
  background-repeat: no-repeat;
}

.imagen2{
	background-color: #FFFFFF;
	height: 28rem;
	width: 100%;
	background-size: contain;
}

.imagen3{
	background-image: url("../img/background3.jpg");
	height: 50rem;
	width: 100%;
  padding: 15px;
	background-size: contain;
}

.affix {
  background-color: #343a40;
  -webkit-transition:all 0.8s ease-out;
  -moz-transition:all 0.8s ease-out;  
  -o-transition:all 0.8s ease-out;         
  transition:all 0.8s ease-out;
}

.affix a {
    color: #FFFFFF !important;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.affix span {
    color: #FFFFFF !important;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.affix-top {
  /* navbar style at top */
  background-color:transparent;
  border-color:transparent;
  -webkit-transition:all 0.8s ease;
  -moz-transition:all 0.8s ease; 
  -o-transition:all 0.8s ease;         
  transition:all 0.8s ease;  
}

.affix-top a {
    color: #000000; 
}

.affix-top span {
    color: #000000; 
}

section {
  height:calc(90% - 50px);
  height: 90vh;
}

.img-fluid{
  max-height: 25em;
  width: auto;
}
.backgroundPerfil{
  margin-top: 4.5rem;
  background-image: url("../img/b3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  background-size: 100% 100%;
  overflow:auto;
  padding-right: 17px;

}

.backgroundPerfil::-webkit-scrollbar {
  display: none;
}

.card{
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    display: inline-flex;
    margin-bottom: 2rem;
    margin-right: 0.7rem;
}

.card-img-top{
  display: flex;
  height: 7rem;
  width: 7rem;
  margin-top: 2rem;
  justify-content: center;
}

.card-body{
  margin-top: 3rem;
}

@media only screen and (max-width: 1024px) {
    .imagen1{
      background-image: url("../img/background1.svg");
      height: 25rem;
      width: 100%;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .imagen2{
      background-color: #FFFFFF;
      height: 30rem;
      width: 100%;
      background-size: contain;
    }
}

@media only screen and (max-width: 768px) {
    .imagenblanco{
      background-color: #FFFFFF;
      height: 5rem;
      width: 100%;
      background-size: contain;
    }

    .imagen1{
      background-image: url("../img/background1.svg");
      height: 19rem;
      width: 100%;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .imagen2{
      background-color: #FFFFFF;
      height: 30rem;
      width: 100%;
      background-size: contain;
    }
}

@media only screen and (max-width: 412px) {
    .imagenblanco{
      background-color: #FFFFFF;
      height: 4rem;
      width: 100%;
      background-size: contain;
    }

    .imagen1{
      background-image: url("../img/background1.svg");
      height: 12rem;
      width: 100%;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .imagen2{
      background-color: #FFFFFF;
      height: 80rem;
      width: 100%;
      background-size: contain;
    }
}

@media only screen and (max-width: 360px) {
    .imagenblanco{
      background-color: #FFFFFF;
      height: 4rem;
      width: 100%;
      background-size: contain;
    }

    .imagen1{
      background-image: url("../img/background1.svg");
      height: 10rem;
      width: 100%;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .imagen2{
      background-color: #FFFFFF;
      height: 80rem;
      width: 100%;
      background-size: contain;
    }
}