html {
  size: 10px; }

nav {
  color: #fff;
  background-color: #1F9347; }

.margen-nav {
  position: relative;
  margin: 0 auto; }

.submenu {
  width: 141.5px; }

.backgrounds {
  height: 21rem;
  z-index: -1; }

.backgrounds2 {
  height: 30rem;
  z-index: -1; }

.nav-wrapper {
  width: 100%; }

.imagen1 {
  background-image: url(../img/background1.jpg);
  background-size: contain; }

.imagen2 {
  background-image: url(../img/background2.jpg); }

.imagenblanco {
  background-color: #F5F5F5; }

.imagengris {
  background-color: #151515; }

.imagennregro {
  background-color: #000000 !important; }

.vcenter {
  padding-top: 5rem; }

.vcenter2 {
  padding-top: 3rem; }

.vcenter3 {
  padding-top: 1.5rem; }

.card-size {
  height: 22rem;
  width: 400px; }

.textabout-size {
  width: 90%; }

.icons {
  height: 7rem;
  width: 7rem; }

.principal {
  font-size: 40px; }

.secundario {
  font-size: 20px; }

.minitext {
  font-size: 14px; }

.negrita {
  font-weight: bold; }

.calibri {
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif; }

.centrarmargenes {
  margin-left: auto;
  margin-right: auto; }

.flotante {
  position: absolute;
  float: right; }

.centrar {
  margin-left: 7rem; }

.search {
  width: 40px !important;
  height: 40px !important;
  box-sizing: border-box !important;
  border: 2px solid #1E753C !important;
  border-radius: 4px !important;
  font-size: 16px !important;
  background-image: url("../img/search.png");
  background-size: 20px 20px;
  background-color: transparent !important;
  background-position: right 8px center !important;
  background-repeat: no-repeat !important;
  padding: 12px 20px 12px 10px !important;
  transform-style: none;
  outline: none; }

.search:hover {
  width: 200px !important; }

.modalcolors {
  color: black; }

.modal .modal-footer {
  margin: 500px;
  height: 70px; }

.errorlogunlog{
  border-bottom: 1px solid #F44336;
  box-shadow: 0 1px 0 0 #F44336;
}

/*.modal-content {
    padding: 10px;
    padding-top: 25px;
    width: 500px;
}*/

.modal { width: 75% !important ; max-height: 100% !important ; overflow-y: hidden !important ;}  /* increase the width, height and prevent vertical scroll! However, i don't recommend this, its better to turn on vertical scrolling. */